@model QR_Project_5.Models.Tipo_Reclamacion

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>@Html.DisplayNameForModel()</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Tipo_Reclamacion }, new { @class="btn btn-primary"})
    @Html.ActionLink("Volver", "Index",null,new { @class= "btn btn-default" })
</p>
